p {
    background-color: aqua;
    color: blue;
}
a{
    background-color: rgb(160, 121, 232);
    color: blue;
}
div{
    background-color: beige;
}
span{
    background-color: rgb(144, 127, 101);
}
