/* this is external css best way to write css  */
#paraimp {
    background-color: rgb(0, 0, 0);
    color: rgb(98, 201, 245);
}

.div1 {
    background-color: rgb(251, 207, 214);
     color: darkmagenta;
}
